[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"

[dev-packages]
black = "*"
pylint = "*"
python-dotenv = "*"

[scripts]
start = "python redis-twitter-console/main.py"
lint = "pylint redis-twitter-console/"
format = "black redis-twitter-console/"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
